# Object files
*.o
*.ko
*.obj
*.elf
*.pyc

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Special Directories
bin/

# Vim Swap Files
*.swp
*.swo

# files to be installed from the web
ext/*
node_modules
tools/interface/client/ext/*

# Generated documentation
docs/docco
docs/html

# Cloud9 meta-data
#  Synth is currently being developed within a Cloud9 VM (http:/c9.io)
.c9

# Generated code files
tools/parser/parser_core.py

# dot files
.*
