define ("%(PKG)s/%(SUB_PKG)s/%(MOD)s", ["underscore"], function (util)
{
  function %(VAR_tc)s (app) {
    var %(VAR)s = this;
    %(VAR)s.local  = app;
    %(VAR)s.global = app.global;
  }
  
  return %(VAR_tc)s;
});