define ("%(PKG)s/%(SUB_PKG)s/%(FN)s", [], function ()
{
  function %(FN_tc)s (app) {
    var %(FN)s = this;
    %(FN)s.local  = app;
    %(FN)s.global = app.global;
  }
  
  return {
    %(FN_tc)s: %(FN_tc)s
  };
});
