define ("%(PKG)s/logic/manager", ["underscore"], function (util)
{
  function Manager (%(PKG_VAR)s) {
    var manager = this;
    
    manager.local  = %(PKG_VAR)s;
    manager.global = %(PKG_VAR)s.global;
    
    %(PKG_VAR)s.register ('manager', manager);
    
    %(PKG_VAR)s.events (manager, {
      // ...
    });
  }
  
  Manager.prototype.init = function %(PKG_VAR)s_manager_init () {
    var manager = this, %(PKG_VAR)s = this.local;
  };
  
  return Manager;
});
