define ("%(PKG)s/logic/manager", ["underscore"], function (util)
{
  function Manager (%(PKG)s) {
    var manager = this;
    
    manager.local  = %(PKG)s;
    manager.global = %(PKG)s.global;
    
    %(PKG)s.events (manager, {
      // ...
    });
  }
  
  Manager.prototype.init = function %(PKG)s_manager_init () {
    var manager = this;
  };
  
  return Manager;
});
