define ("%(PKG)s/logic/init", ["underscore", "%(PKG)s/logic/manager", "%(PKG)s/logic/model.mutator", "%(PKG)s/logic/model"],
  function (util, Manager, ModelMutator, Model)
{
  return {
    init: function %(PKG_VAR)s_logic_init (%(PKG_VAR)s) {
      new Manager (%(PKG_VAR)s);
      new ModelMutator (%(PKG_VAR)s);
      new Model (%(PKG_VAR)s);
    
      %(PKG_VAR)s.manager.init ();
    }
  };
});
