define ("%(PKG)s/ui/init", ["underscore", "%(PKG)s/ui/view.mutator", "jsx!%(PKG)s/ui/view", "%(PKG)s/ui/view.events"], 
  function (util, view_mutator, view, view_events)
{
  return {
    init: function ui_init (app) {
      app.view_mutator = new view_mutator.Mutator (app);
      app.view         = new view.View (app);
      app.view_events  = new view_events.Events (app);
    }
  };
});
