define ("%(PKG)s/ui/init", ["underscore", "%(PKG)s/ui/view.mutator", "jsx!%(PKG)s/ui/view", "%(PKG)s/ui/view.events"], 
  function (util, ViewMutator, View, ViewEvents)
{
  return {
    init: function ui_init (app) {
      app.view_mutator = new ViewMutator (app);
      app.view         = new View (app);
      app.view_events  = new ViewEvents (app);
    }
  };
});
