define ("%(PKG)s/ui/init", ["underscore", "%(PKG)s/ui/view.mutator", "jsx!%(PKG)s/ui/view", "%(PKG)s/ui/view.events"], 
  function (util, ViewMutator, View, ViewEvents)
{
  return {
    init: function %(PKG_VAR)s_ui_init (%(PKG_VAR)s) {
      new ViewMutator (%(PKG_VAR)s);
      new View (%(PKG_VAR)s);
      new ViewEvents (%(PKG_VAR)s);
    }
  };
});
