define ("%(PKG)s/ui/view.mutator", ["underscore"], function (util)
{
  function ViewMutator (%(PKG)s) {
    var view_mutator = this;
    view_mutator.local  = %(PKG)s;
    view_mutator.global = %(PKG)s.global
    
    %(PKG)s.register ('view_mutator', view_mutator);
    
    %(PKG)s.events (mutator, {
      // %(PKG)s-specific mutations of the UI ..
    });
  }
  
  return ViewMutator;
});
